src/main/php/php-rocket-shipit/RocketShipIt/Resources/schemas/purolator/TrackingService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="TrackingService" targetNamespace="http://purolator.com/pws/service/v1"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://purolator.com/pws/service/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://purolator.com/pws/datatypes/v1"
                xmlns:tns="http://purolator.com/pws/datatypes/v1">
      <xsd:complexType name="TrackPackagesByPinRequestContainer">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>TrackPackagesByPinRequest</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:RequestContainer">
            <xsd:sequence>
              <xsd:element name="PINs" nillable="true" type="tns:ArrayOfPIN">
                <xsd:annotation>
                  <xsd:appinfo/>
                  <xsd:documentation>PINs - PIN[]</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="TrackPackagesByPinRequestContainer" nillable="true"
                   type="tns:TrackPackagesByPinRequestContainer"/>
      <xsd:complexType name="RequestContainer">
        <xsd:sequence/>
      </xsd:complexType>
      <xsd:element name="RequestContainer" nillable="true" type="tns:RequestContainer"/>
      <xsd:complexType name="ArrayOfPIN">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="PIN" nillable="true" type="tns:PIN"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ArrayOfPIN" nillable="true" type="tns:ArrayOfPIN"/>
      <xsd:complexType name="PIN">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>PIN</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Value" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Value - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="PIN" nillable="true" type="tns:PIN"/>
      <xsd:element name="TrackPackagesByPinRequest" nillable="true" type="tns:TrackPackagesByPinRequestContainer"/>
      <xsd:complexType name="RequestContext">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>RequestContext</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Version" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Version - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Language" type="tns:Language">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Language - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="GroupID" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>GroupID - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="RequestReference" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>RequestReference - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="RequestContext" nillable="true" type="tns:RequestContext"/>
      <xsd:simpleType name="Language">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>Language - enum</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="en">
            <xsd:annotation>
              <xsd:documentation>en</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="fr">
            <xsd:annotation>
              <xsd:documentation>fr</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="Language" nillable="true" type="tns:Language"/>
      <xsd:complexType name="TrackPackagesByPinResponseContainer">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>TrackPackagesByPinResponse</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:ResponseContainer">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="TrackingInformationList" nillable="true"
                           type="tns:ArrayOfTrackingInformation">
                <xsd:annotation>
                  <xsd:appinfo/>
                  <xsd:documentation>TrackingInformationList - TrackingInformation[]</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="TrackPackagesByPinResponseContainer" nillable="true"
                   type="tns:TrackPackagesByPinResponseContainer"/>
      <xsd:complexType name="ResponseContainer">
        <xsd:sequence>
          <xsd:element name="ResponseInformation" nillable="true" type="tns:ResponseInformation">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>ResponseInformation - ResponseInformation</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ResponseContainer" nillable="true" type="tns:ResponseContainer"/>
      <xsd:complexType name="ResponseInformation">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>ResponseInformation</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Errors" nillable="true" type="tns:ArrayOfError">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Errors - Error[]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="InformationalMessages" nillable="true" type="tns:ArrayOfInformationalMessage">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>InformationalMessages - InformationalMessage[]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ResponseInformation" nillable="true" type="tns:ResponseInformation"/>
      <xsd:complexType name="ArrayOfError">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Error" nillable="true" type="tns:Error"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ArrayOfError" nillable="true" type="tns:ArrayOfError"/>
      <xsd:complexType name="Error">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>Error</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Code" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Code - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Description" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Description - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="AdditionalInformation" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>AdditionalInformation - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Error" nillable="true" type="tns:Error"/>
      <xsd:complexType name="ArrayOfInformationalMessage">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="InformationalMessage" nillable="true"
                       type="tns:InformationalMessage"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ArrayOfInformationalMessage" nillable="true" type="tns:ArrayOfInformationalMessage"/>
      <xsd:complexType name="InformationalMessage">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>InformationalMessage</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Code" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Code - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Message" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Message - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="InformationalMessage" nillable="true" type="tns:InformationalMessage"/>
      <xsd:complexType name="ArrayOfTrackingInformation">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="TrackingInformation" nillable="true"
                       type="tns:TrackingInformation"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ArrayOfTrackingInformation" nillable="true" type="tns:ArrayOfTrackingInformation"/>
      <xsd:complexType name="TrackingInformation">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>TrackingInformation</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="PIN" nillable="true" type="tns:PIN">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>PIN - PIN</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Scans" nillable="true" type="tns:ArrayOfScan">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Scans - Scan[]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ResponseInformation" nillable="true" type="tns:ResponseInformation">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>ResponseInformation - ResponseInformation</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="TrackingInformation" nillable="true" type="tns:TrackingInformation"/>
      <xsd:complexType name="ArrayOfScan">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Scan" nillable="true" type="tns:Scan"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ArrayOfScan" nillable="true" type="tns:ArrayOfScan"/>
      <xsd:complexType name="Scan">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>Scan</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="ScanType" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>ScanType - ScanType</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PIN" nillable="true" type="tns:PIN">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>PIN - PIN</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Depot" nillable="true" type="tns:Depot">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Depot - Depot</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ScanDate" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>ScanDate - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ScanTime" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>ScanTime - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Description" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Description - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Comment" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Comment - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="SummaryScanIndicator" type="xsd:boolean">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>SummaryScanIndicator - bool</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Scan" nillable="true" type="tns:Scan"/>
      <xsd:complexType name="Depot">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>Depot</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Name" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Name - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Depot" nillable="true" type="tns:Depot"/>
      <xsd:complexType name="UndeliverableScan">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:Scan">
            <xsd:sequence>
              <xsd:element name="ScanDetails" nillable="true" type="tns:UndeliverableScanDetails">
                <xsd:annotation>
                  <xsd:appinfo/>
                  <xsd:documentation>ScanDetails - UndeliverableScanDetails</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="UndeliverableScan" nillable="true" type="tns:UndeliverableScan"/>
      <xsd:complexType name="UndeliverableScanDetails">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>UndeliverableScanDetails</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="AttemptedDeliveryAddress" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>AttemptedDeliveryAddress - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="DeliveryCompanyName" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>DeliveryCompanyName - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="UndeliverableScanDetails" nillable="true" type="tns:UndeliverableScanDetails"/>
      <xsd:complexType name="DeliveryScan">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:Scan">
            <xsd:sequence>
              <xsd:element name="ScanDetails" nillable="true" type="tns:DeliveryScanDetails">
                <xsd:annotation>
                  <xsd:appinfo/>
                  <xsd:documentation>ScanDetails - DeliveryScanDetails</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="DeliveryScan" nillable="true" type="tns:DeliveryScan"/>
      <xsd:complexType name="DeliveryScanDetails">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>DeliveryScanDetails</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="DeliverySignature" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>DeliverySignature - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="SignatureImage" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>SignatureImage - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="SignatureImageSize" type="xsd:int">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>SignatureImageSize - int</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="SignatureImageFormat" type="tns:SignatureImageFormat">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>SignatureImageFormat - SignatureImageFormat</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="DeliveryAddress" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>DeliveryAddress - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="DeliveryCompanyName" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>DeliveryCompanyName - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PremiumServiceText" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>PremiumServiceText - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ProductTypeText" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>ProductTypeText - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="SpecialHandlingText" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>SpecialHandlingText - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PaymentTypeText" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>PaymentTypeText - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="DeliveryScanDetails" nillable="true" type="tns:DeliveryScanDetails"/>
      <xsd:simpleType name="SignatureImageFormat">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>SignatureImageFormat - enum</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="GIF">
            <xsd:annotation>
              <xsd:documentation>GIF</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="Bitmap">
            <xsd:annotation>
              <xsd:documentation>Bitmap</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="OriginalUncompressed">
            <xsd:annotation>
              <xsd:documentation>OriginalUncompressed</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="SignatureImageFormat" nillable="true" type="tns:SignatureImageFormat"/>
      <xsd:complexType name="InternationalOutboundScan">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:Scan">
            <xsd:sequence>
              <xsd:element name="ScanDetails" nillable="true" type="tns:InternationalOutboundScanDetails">
                <xsd:annotation>
                  <xsd:appinfo/>
                  <xsd:documentation>ScanDetails - InternationalOutboundScanDetails</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="InternationalOutboundScan" nillable="true" type="tns:InternationalOutboundScan"/>
      <xsd:complexType name="InternationalOutboundScanDetails">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>InternationalOutboundScanDetails</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="DestinationPostalCode" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>DestinationPostalCode - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="AirportCode" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>AirportCode - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="InternationalOutboundScanDetails" nillable="true" type="tns:InternationalOutboundScanDetails"/>
      <xsd:complexType name="ProofOfPickUpScan">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:Scan">
            <xsd:sequence>
              <xsd:element name="ScanDetails" nillable="true" type="tns:ProofOfPickUpScanDetails">
                <xsd:annotation>
                  <xsd:appinfo/>
                  <xsd:documentation>ScanDetails - ProofOfPickUpScanDetails</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="ProofOfPickUpScan" nillable="true" type="tns:ProofOfPickUpScan"/>
      <xsd:complexType name="ProofOfPickUpScanDetails">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>ProofOfPickUpScanDetails</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="PickUpConfirmationNumber" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>PickUpConfirmationNumber - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PickUpAddress" nillable="true" type="tns:Address">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>PickUpAddress - Address</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PickUpContactName" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>PickUpContactName - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PickUpCompanyName" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>PickUpCompanyName - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PickUpLocation" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>PickUpLocation - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="CommitedDeliveryDate" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>CommitedDeliveryDate - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PremiumServiceText" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>PremiumServiceText - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ProductTypeText" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>ProductTypeText - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="SpecialHandlingText" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>SpecialHandlingText - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PaymentTypeText" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>PaymentTypeText - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ProofOfPickUpScanDetails" nillable="true" type="tns:ProofOfPickUpScanDetails"/>
      <xsd:complexType name="Address">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>Address</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Name" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Name - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Company" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Company - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Department" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Department - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="StreetNumber" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>StreetNumber - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="StreetSuffix" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>StreetSuffix - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="StreetName" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>StreetName - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="StreetType" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>StreetType - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="StreetDirection" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>StreetDirection - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Suite" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Suite - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Floor" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Floor - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="StreetAddress2" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>StreetAddress2 - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="StreetAddress3" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>StreetAddress3 - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="City" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>City - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Province" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Province - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Country" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Country - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PostalCode" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>PostalCode - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PhoneNumber" nillable="true" type="tns:PhoneNumber">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>PhoneNumber - PhoneNumber</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="FaxNumber" nillable="true" type="tns:PhoneNumber">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Faxnumber - PhoneNumber</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Address" nillable="true" type="tns:Address"/>
      <xsd:complexType name="PhoneNumber">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>PhoneNumber</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="CountryCode" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>CountryCode - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="AreaCode" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>AreaCode - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Phone" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Phone - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Extension" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Extension - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="PhoneNumber" nillable="true" type="tns:PhoneNumber"/>
      <xsd:complexType name="OnDeliveryScan">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:Scan">
            <xsd:sequence>
              <xsd:element name="ScanDetails" nillable="true" type="tns:OnDeliveryScanDetails">
                <xsd:annotation>
                  <xsd:appinfo/>
                  <xsd:documentation>ScanDetails - OnDeliveryScanDetails</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="OnDeliveryScan" nillable="true" type="tns:OnDeliveryScan"/>
      <xsd:complexType name="OnDeliveryScanDetails">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>OnDeliveryScanDetails</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="DeliveryAddress" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>DeliveryAddress - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="OnDeliveryScanDetails" nillable="true" type="tns:OnDeliveryScanDetails"/>
      <xsd:element name="TrackPackagesByPinResponse" nillable="true" type="tns:TrackPackagesByPinResponseContainer"/>
      <xsd:complexType name="ResponseContext">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>ResponseContext</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="ResponseReference" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>ResponseReference - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ResponseContext" nillable="true" type="tns:ResponseContext"/>
      <xsd:complexType name="TrackPackagesByReferenceRequestContainer">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>TrackPackagesByReferenceRequest</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:RequestContainer">
            <xsd:sequence>
              <xsd:element name="TrackPackageByReferenceSearchCriteria" nillable="true"
                           type="tns:TrackPackageByReferenceSearchCriteria">
                <xsd:annotation>
                  <xsd:appinfo/>
                  <xsd:documentation>TrackPackageByReferenceSearchCriteria - TrackPackageByReferenceSearchCriteria
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="TrackPackagesByReferenceRequestContainer" nillable="true"
                   type="tns:TrackPackagesByReferenceRequestContainer"/>
      <xsd:complexType name="TrackPackageByReferenceSearchCriteria">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>TrackPackageByReferenceSearchCriteria</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Reference" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Reference</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="DestinationPostalCode" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Reference</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="DestinationCountryCode" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>DestinationCountryCode</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="BillingAccountNumber" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>BillingAccountNumber</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ShipmentFromDate" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>ShipmentFromDate</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ShipmentToDate" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>ShipmentToDate</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="TrackPackageByReferenceSearchCriteria" nillable="true"
                   type="tns:TrackPackageByReferenceSearchCriteria"/>
      <xsd:element name="TrackPackagesByReferenceRequest" nillable="true"
                   type="tns:TrackPackagesByReferenceRequestContainer"/>
      <xsd:complexType name="TrackPackagesByReferenceResponseContainer">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>Service Contract Class - TrackPackagesByReferenceResponse</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:ResponseContainer">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="TrackingInformationList" nillable="true"
                           type="tns:ArrayOfTrackingInformation">
                <xsd:annotation>
                  <xsd:appinfo/>
                  <xsd:documentation>TrackingInformationList - TrackingInformation[]</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="TrackPackagesByReferenceResponseContainer" nillable="true"
                   type="tns:TrackPackagesByReferenceResponseContainer"/>
      <xsd:element name="TrackPackagesByReferenceResponse" nillable="true"
                   type="tns:TrackPackagesByReferenceResponseContainer"/>
      <xsd:complexType name="GetDeliveryDetailsRequestContainer">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>GetDeliveryDetailsRequest</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:RequestContainer">
            <xsd:sequence>
              <xsd:element name="PIN" nillable="true" type="tns:PIN">
                <xsd:annotation>
                  <xsd:appinfo/>
                  <xsd:documentation>PIN - PIN</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="GetDeliveryDetailsRequestContainer" nillable="true"
                   type="tns:GetDeliveryDetailsRequestContainer"/>
      <xsd:element name="GetDeliveryDetailsRequest" nillable="true" type="tns:GetDeliveryDetailsRequestContainer"/>
      <xsd:complexType name="GetDeliveryDetailsResponseContainer">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>GetDeliveryDetailsResponse</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:ResponseContainer">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="DeliveryDetails" nillable="true" type="tns:DeliveryScan">
                <xsd:annotation>
                  <xsd:appinfo/>
                  <xsd:documentation>DeliveryDetails - DeliveryScan</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="GetDeliveryDetailsResponseContainer" nillable="true"
                   type="tns:GetDeliveryDetailsResponseContainer"/>
      <xsd:element name="GetDeliveryDetailsResponse" nillable="true" type="tns:GetDeliveryDetailsResponseContainer"/>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified"
                targetNamespace="http://www.microsoft.com/practices/EnterpriseLibrary/2007/01/wcf/validation"
                xmlns:tns="http://www.microsoft.com/practices/EnterpriseLibrary/2007/01/wcf/validation">
      <xsd:complexType name="ValidationFault">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>This class is used to return information to a WCF client when validation fails on a service
            parameter.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Details" nillable="true" type="q1:ArrayOfValidationDetail"
                       xmlns:q1="http://schemas.datacontract.org/2004/07/Microsoft.Practices.EnterpriseLibrary.Validation.Integration.WCF">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation/>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ValidationFault" nillable="true" type="tns:ValidationFault"/>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified"
                targetNamespace="http://schemas.datacontract.org/2004/07/Microsoft.Practices.EnterpriseLibrary.Validation.Integration.WCF"
                xmlns:tns="http://schemas.datacontract.org/2004/07/Microsoft.Practices.EnterpriseLibrary.Validation.Integration.WCF">
      <xsd:complexType name="ArrayOfValidationDetail">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ValidationDetail" nillable="true"
                       type="tns:ValidationDetail"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ArrayOfValidationDetail" nillable="true" type="tns:ArrayOfValidationDetail"/>
      <xsd:complexType name="ValidationDetail">
        <xsd:annotation>
          <xsd:appinfo/>
          <xsd:documentation>This class holds the results of a single validation. Effectively, it's the same as a
            ValidationResult, but creating a separate class allows us to mark up a DataContract with impunity.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Key" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Get or set a name describing the location of the validation result.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Message" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Get or set a message describing the validation failure.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Tag" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo/>
              <xsd:documentation>Get or set a value characterizing the fault.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ValidationDetail" nillable="true" type="tns:ValidationDetail"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TrackPackagesByPinRequest">
    <wsdl:part name="TrackPackagesByPinRequest" element="q2:TrackPackagesByPinRequest"
               xmlns:q2="http://purolator.com/pws/datatypes/v1"/>
  </wsdl:message>
  <wsdl:message name="TrackPackagesByPinRequest_Headers">
    <wsdl:part name="RequestContext" element="q3:RequestContext" xmlns:q3="http://purolator.com/pws/datatypes/v1"/>
  </wsdl:message>
  <wsdl:message name="TrackPackagesByPinResponse">
    <wsdl:part name="TrackPackagesByPinResponse" element="q4:TrackPackagesByPinResponse"
               xmlns:q4="http://purolator.com/pws/datatypes/v1"/>
  </wsdl:message>
  <wsdl:message name="TrackPackagesByPinResponse_Headers">
    <wsdl:part name="ResponseContext" element="q5:ResponseContext" xmlns:q5="http://purolator.com/pws/datatypes/v1"/>
  </wsdl:message>
  <wsdl:message name="TrackingServiceContract_TrackPackagesByPin_ValidationFaultFault_FaultMessage">
    <wsdl:part name="detail" element="q6:ValidationFault"
               xmlns:q6="http://www.microsoft.com/practices/EnterpriseLibrary/2007/01/wcf/validation"/>
  </wsdl:message>
  <wsdl:message name="TrackPackagesByReferenceRequest">
    <wsdl:part name="TrackPackagesByReferenceRequest" element="q7:TrackPackagesByReferenceRequest"
               xmlns:q7="http://purolator.com/pws/datatypes/v1"/>
  </wsdl:message>
  <wsdl:message name="TrackPackagesByReferenceRequest_Headers">
    <wsdl:part name="RequestContext" element="q8:RequestContext" xmlns:q8="http://purolator.com/pws/datatypes/v1"/>
  </wsdl:message>
  <wsdl:message name="TrackPackagesByReferenceResponse">
    <wsdl:part name="TrackPackagesByReferenceResponse" element="q9:TrackPackagesByReferenceResponse"
               xmlns:q9="http://purolator.com/pws/datatypes/v1"/>
  </wsdl:message>
  <wsdl:message name="TrackPackagesByReferenceResponse_Headers">
    <wsdl:part name="ResponseContext" element="q10:ResponseContext" xmlns:q10="http://purolator.com/pws/datatypes/v1"/>
  </wsdl:message>
  <wsdl:message name="TrackingServiceContract_TrackPackagesByReference_ValidationFaultFault_FaultMessage">
    <wsdl:part name="detail" element="q11:ValidationFault"
               xmlns:q11="http://www.microsoft.com/practices/EnterpriseLibrary/2007/01/wcf/validation"/>
  </wsdl:message>
  <wsdl:message name="GetDeliveryDetailsRequest">
    <wsdl:part name="GetDeliveryDetailsRequest" element="q12:GetDeliveryDetailsRequest"
               xmlns:q12="http://purolator.com/pws/datatypes/v1"/>
  </wsdl:message>
  <wsdl:message name="GetDeliveryDetailsRequest_Headers">
    <wsdl:part name="RequestContext" element="q13:RequestContext" xmlns:q13="http://purolator.com/pws/datatypes/v1"/>
  </wsdl:message>
  <wsdl:message name="GetDeliveryDetailsResponse">
    <wsdl:part name="GetDeliveryDetailsResponse" element="q14:GetDeliveryDetailsResponse"
               xmlns:q14="http://purolator.com/pws/datatypes/v1"/>
  </wsdl:message>
  <wsdl:message name="GetDeliveryDetailsResponse_Headers">
    <wsdl:part name="ResponseContext" element="q15:ResponseContext" xmlns:q15="http://purolator.com/pws/datatypes/v1"/>
  </wsdl:message>
  <wsdl:message name="TrackingServiceContract_GetDeliveryDetails_ValidationFaultFault_FaultMessage">
    <wsdl:part name="detail" element="q16:ValidationFault"
               xmlns:q16="http://www.microsoft.com/practices/EnterpriseLibrary/2007/01/wcf/validation"/>
  </wsdl:message>
  <wsdl:portType name="TrackingServiceContract">
    <wsdl:documentation>Service Contract Class - TrackingServiceContract</wsdl:documentation>
    <wsdl:operation name="TrackPackagesByPin">
      <wsdl:documentation>Track Packages By Pin
        @param request TrackPackagesByPinRequest
        @return TrackPackagesByPinResponse
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://purolator.com/pws/service/v1/TrackPackagesByPin" name="TrackPackagesByPinRequest"
                  message="tns:TrackPackagesByPinRequest"/>
      <wsdl:output wsaw:Action="http://purolator.com/pws/service/v1/TrackingServiceContract/TrackPackagesByPinResponse"
                   name="TrackPackagesByPinResponse" message="tns:TrackPackagesByPinResponse"/>
      <wsdl:fault
              wsaw:Action="http://purolator.com/pws/service/v1/TrackingServiceContract/TrackPackagesByPinValidationFaultFault"
              name="ValidationFaultFault"
              message="tns:TrackingServiceContract_TrackPackagesByPin_ValidationFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="TrackPackagesByReference">
      <wsdl:documentation>TrackPackagesByReference
        @param request TrackPackagesByReferenceRequest
        @return TrackPackagesByReferenceResponse
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://purolator.com/pws/service/v1/TrackPackagesByReference"
                  name="TrackPackagesByReferenceRequest" message="tns:TrackPackagesByReferenceRequest"/>
      <wsdl:output
              wsaw:Action="http://purolator.com/pws/service/v1/TrackingServiceContract/TrackPackagesByReferenceResponse"
              name="TrackPackagesByReferenceResponse" message="tns:TrackPackagesByReferenceResponse"/>
      <wsdl:fault
              wsaw:Action="http://purolator.com/pws/service/v1/TrackingServiceContract/TrackPackagesByReferenceValidationFaultFault"
              name="ValidationFaultFault"
              message="tns:TrackingServiceContract_TrackPackagesByReference_ValidationFaultFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryDetails">
      <wsdl:documentation>GetDeliveryDetails
        @param request GetDeliveryDetailsRequest
        @return GetDeliveryDetailsResponse
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://purolator.com/pws/service/v1/GetDeliveryDetails" name="GetDeliveryDetailsRequest"
                  message="tns:GetDeliveryDetailsRequest"/>
      <wsdl:output wsaw:Action="http://purolator.com/pws/service/v1/TrackingServiceContract/GetDeliveryDetailsResponse"
                   name="GetDeliveryDetailsResponse" message="tns:GetDeliveryDetailsResponse"/>
      <wsdl:fault
              wsaw:Action="http://purolator.com/pws/service/v1/TrackingServiceContract/GetDeliveryDetailsValidationFaultFault"
              name="ValidationFaultFault"
              message="tns:TrackingServiceContract_GetDeliveryDetails_ValidationFaultFault_FaultMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TrackingServiceEndpoint" type="tns:TrackingServiceContract">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="TrackPackagesByPin">
      <soap:operation soapAction="http://purolator.com/pws/service/v1/TrackPackagesByPin" style="document"/>
      <wsdl:input name="TrackPackagesByPinRequest">
        <soap:header message="tns:TrackPackagesByPinRequest_Headers" part="RequestContext" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="TrackPackagesByPinResponse">
        <soap:header message="tns:TrackPackagesByPinResponse_Headers" part="ResponseContext" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TrackPackagesByReference">
      <soap:operation soapAction="http://purolator.com/pws/service/v1/TrackPackagesByReference" style="document"/>
      <wsdl:input name="TrackPackagesByReferenceRequest">
        <soap:header message="tns:TrackPackagesByReferenceRequest_Headers" part="RequestContext" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="TrackPackagesByReferenceResponse">
        <soap:header message="tns:TrackPackagesByReferenceResponse_Headers" part="ResponseContext" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryDetails">
      <soap:operation soapAction="http://purolator.com/pws/service/v1/GetDeliveryDetails" style="document"/>
      <wsdl:input name="GetDeliveryDetailsRequest">
        <soap:header message="tns:GetDeliveryDetailsRequest_Headers" part="RequestContext" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetDeliveryDetailsResponse">
        <soap:header message="tns:GetDeliveryDetailsResponse_Headers" part="ResponseContext" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault name="ValidationFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TrackingService">
    <wsdl:port name="TrackingServiceEndpoint" binding="tns:TrackingServiceEndpoint">
      <soap:address location="https://devwebservices.purolator.com/EWS/V1/Tracking/TrackingService.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>