src/main/php/php-rocket-shipit/RocketShipIt/Resources/schemas/ups/VoidShipmentRequest.xsd

<xsd:schema xmlns:ups="http://www.ups.com/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"            elementFormDefault="unqualified">    <xsd:element name="VoidShipmentRequest">        <xsd:complexType>            <xsd:sequence>                <xsd:element name="Request" type="RequestType"/>                <xsd:choice>                    <xsd:element name="ShipmentIdentificationNumber" type="xsd:string"/>                    <xsd:element name="ExpandedVoidShipment" type="ExpandedVoidShipmentType"/>                </xsd:choice>            </xsd:sequence>        </xsd:complexType>    </xsd:element>    <xsd:complexType name="ExpandedVoidShipmentType">        <xsd:sequence>            <xsd:element name="ShipmentIdentificationNumber" type="xsd:string"/>            <xsd:element maxOccurs="unbounded" minOccurs="0" name="TrackingNumber" type="xsd:string"/>        </xsd:sequence>    </xsd:complexType>    <xsd:complexType name="RequestType">        <xsd:sequence>            <xsd:sequence>                <xsd:element minOccurs="0" name="TransactionReference" type="TransactionReferenceType"/>                <xsd:element name="RequestAction" type="xsd:string"/>                <xsd:element minOccurs="0" name="RequestOption" type="xsd:string" ups:usage="notused"/>            </xsd:sequence>        </xsd:sequence>    </xsd:complexType>    <xsd:complexType name="TransactionReferenceType">        <xsd:sequence>            <xsd:element minOccurs="0" name="CustomerContext" type="xsd:string"/>            <xsd:element minOccurs="0" name="ToolVersion" type="xsd:string" ups:usage="notused"/>        </xsd:sequence>    </xsd:complexType></xsd:schema>